<!--Display page title-->
<% content_for :title do %> 
	<title>Triffort | About</title>
<% end %>

<!--Display headline-->
<% content_for :hedline do %> 
	<h1>We are Triffort Technologies...</h1>
<% end %>

<div id="about-container">
	<div class="about-coloumn">
		<div class="about-img"><img src="./assets/about_images/azm_sir.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/maq_sir.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/muz_sir.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/kashif.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/rahul.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/rajeev.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/dada.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/vivud.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/mine.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/salok.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/nitesh.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/santosh.png" class="img-circle"></div>
		<div class="about-img"><img src="./assets/about_images/nadeem.png" class="img-circle"></div>
	</div>
	<div class="about-coloumn-small">
		<h1 style="font-size: 32px;">About</h1><br />
		<p>
			Triffort Technologies is based in Allahabad, India. 
			Triffort Technologies is purely a product of 'Love for Technology', 
			unlike many other companies that spring up to try their hand at the IT industry. 
			Our vision to always keep our client's interest on the forefront and our association 
			with highly enthusiastic-exceptionally talented developers.
		</p>
	</div>
</div>
