<!--Display page title-->
<% content_for :title do %> 
	<title>Triffort | Career</title>
<% end %>  

<!--Display headline-->
<% content_for :hedline do %> 
	<h1>Career @ Triffort...</h1>
<% end %>

<div id="career">
	
	<p>
		At Triffort, we have constructed a culture that encourages people to venture 
		beyond the brief and think big. Our work place and project sites are the most 
		sought-after training grounds for young engineers. When you join Triffort, you don't take up a job, you align yourself to an exciting way 
		of life - a work life that will see you discovering your true mettle, seeking out 
		challenges and enjoying the thrill of overcoming them. No, working at Triffort is 
		never a job. It's a philosophy you integrate into.
	</p>
	<p>
		Here, the doors are perennially open for good caliber talent. We look for people who 
		are highly qualified, adaptable and ever-interested in taking on new challenges every day. 
		Be excited by your work. If you want to be a part of innovations, creativity and growth and wish to work in an environment 
		that nurtures talent, while simultaneously being exposed to the latest in IT, then come be part of 
		team Triffort.
	</p>
	
	<h3 style="margin-top:15px; font-family: 'custom font'; font-weight: bold; color: #333333; font-size: 22px; text-align: center;">Mail us your resume: hr@triffort.com</h3>
	
</div>