<!--Display page title-->
<% content_for :title do %> 
	<title>Triffort | Home</title>
<% end %>

<div class="headline manifesto">
      				<h3 style="font-family: 'custom font'; font-weight: bold; color: #666666; font-size: 22px; text-align: center;">Some of the reasons our clients love to work with us</h3>
      				<div class="column">
        				<div class="belief top">
          					<h3>1</h3>
          					<h4>Great service at epicenter</h4>
          					<p>Each day we make sure to provide great software development service to our clients and everything revolves around that.</p>
        				</div>

    	        		<div class="belief">
          					<h3>2</h3>
          					<h4>We are affordable</h4>
          					<p>We know who is going to pay more than what they have to. Our cost effective quality solutions is our USP which gives our clients maximum ROI.</p>
        				</div>

				        <div class="belief bottom">
          					<h3>3</h3>
          					<h4>Effective communication</h4>
          					<p>We believe that bad communication is main reason for project failure. We don't hesitate to ask questions, provide frequent status and request for feeback.</p>
        				</div>
        			</div>

      				<div class="column end">
      					<div class="belief top">
          					<h3>4</h3>
          					<h4>We deal ethically</h4>
          					<p>We know the value of our client's time, money and intellectual property. We deal ethically and don't take our clients trust.</p>
        				</div>
        				<div class="belief">
        					<h3>5</h3>
        					<h4>Complete IT consulting</h4>
        					<p>We know just coding is not enough. We get involved with our clients throughout from conceptualization to final release of apps.</p>
        				</div>

        				<div class="belief bottom">
          					<h3>6</h3>
          					<h4>Research oriented development</h4>
          					<p>We know sometimes we have to build our own bricks. Doing R&D in image processing, graphics and network programming is daily activity in Triffort</p>
        				</div>
        			</div>
</div>

<!--Twitter feeds-->
<div style="float: right; margin: -33.8em 0 0 0; width: 300px; border: 0px solid #ffffff;">

	<h3 style="font-weight: lighter; color: #005ca3; font-size: 22px; text-align: center;font-family: 'custom font';">Twitter Feeds</h3>
	<br />
			<a class="twitter-timeline" href="https://twitter.com/triffort" data-widget-id="287158462050340864">Tweets by @triffort</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>	

<!--*********Start Product Slider*********-->

<div id="product-container">
	<h3 style="font-weight: lighter; color: #116899; font-size: 22px; text-align: left;font-family: 'custom font';">Some of our products</h3>
	<br />
	<div class="product">
		<img src='./assets/1.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<div class="product">
		<img src='./assets/2.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>		
	</div>
	<div class="product">
		<img src='./assets/3.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<div class="product">
		<img src='./assets/4.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<div class="product">
		<img src='./assets/5.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<div class="product">
		<img src='./assets/6.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<div class="product">
		<img src='./assets/7.png' style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width=109 height=109/>
	</div>
	<br /><br /><br />
</div>

<!--*********End Product Slider*********-->