<!--Display page title-->
<% content_for :title do %> 
	<title>Triffort | Products</title>
<% end %>  

<!--Display headline-->
<% content_for :hedline do %> 
	<h1>Products that makes difference...</h1>
<% end %>

<div id="product-container">

	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/iFrame.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">iFrame : 3D Photo Framing</h1>
				iFrame is 3D photo frame creator, by which you can transform you photo frame in 3D effect in both vertical and horizontal direction. Also, you can rotate and zoom the frame. First time 3D photo framing experience on your device.
			</span>
			<a href="https://itunes.apple.com/us/app/iframe-3d-photo-framing/id494613333?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>		
	</div>
	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/Classic Board.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Classic Board Pro</h1>
				Classic Board is one the most simplest board app on App Store. It provides you a real time touch experience with Chalk and Duster. Use stylus pen for best experience. You can also transform your iPhone/iPad screen into a presentation screen.
			</span>
			<a href="https://itunes.apple.com/us/app/classic-board-pro/id568702868?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>
	</div>

</div>

<div id="product-container">

	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/eGreetings.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">e-Greetings</h1>
				e-Greetings is one of the best iPad app that helps you to create and customize your own greeting cards. You can customize your own snap with different objects.
			</span>
			<a href="https://itunes.apple.com/us/app/e-greetings/id488672261?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>		
	</div>
	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/Photo Chroma.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Photo Chroma</h1>
				Photo Chroma app will add the effects in your photo and make memorable. Very easy to use.
			</span>
			 <a href="https://itunes.apple.com/us/app/photo-chroma/id569466885?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>		
	</div>

</div>

<div id="product-container">

	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/Vintage Camera FX.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Vintage Camera FX</h1>
				Have fun by creating Vintage effect of your photos.
			</span>
			<a href="https://itunes.apple.com/us/app/vintage-camera-fx/id541401583?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p> 
	</div>
	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/Weather Timeline.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Weather Timeline</h1>
				Beautiful weather app with Facebook and Twitter timeline. Still using three different apps to check current updates in Facebook, Twitter and Weather ??? Try "WT"
			</span>
			<a href="https://itunes.apple.com/us/app/weather-timeline/id507213603?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>
	</div>

</div>

<div id="product-container">

	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/iPicsaw.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">iPicsaw</h1>
				It is an accepted fact that Jigsaw puzzles enhances the analytical bend of mind in its own mysterious ways and should be played on regular basis to train the mental faculty.
			</span>
			<a href="https://itunes.apple.com/us/app/ipicsaw/id501273231?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>		
	</div>
	<div class="product-large">		
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/Image Tinting.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Image Tinting</h1>
				Image Tinting is used to colorized/re-colorized your image. With Image Tinting you can make snap more colorful and beautiful and its stores your customize image in app which you have shared through this you can show your artistic talent to anyone.
			</span>
			<a href="https://itunes.apple.com/us/app/image-tinting/id493768515?ls=1&mt=8" target="_blank" style="float: right;">Know More</a>
		</p>
	</div>

</div>

<div id="product-container">

	<div class="product-large">
		<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/products/DigiCam.png" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">DigiCam</h1>
				DigiCam application will give you more colors and effects in your photo, on a single Camera click or selection from Photo Album you can see 10 different photos with different effects.
			</span>
			<a href="https://itunes.apple.com/us/app/digicam/id507976189?mt=8" target="_blank" style="float: right;">Know More</a>
		</p>		
	</div>
		
</div>
