<!--Display page title-->
<% content_for :title do %> 
	<title>Triffort | Services</title>
<% end %>  

<!--Display headline-->
<% content_for :hedline do %> 
	<h1>Services we offer...</h1>
<% end %>

<div style="width: 1024px; border-bottom: 1px solid #999999; float: left; margin: 15px; padding: 0 0 10px 0;">
	<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/services/ios_dev.jpg" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">iOS Development</h1>
				iFrame is 3D photo frame creator, by which you can transform you photo frame in 3D effect in both vertical and horizontal direction. Also, you can rotate and zoom the frame. First time 3D photo framing experience on your device.
			</span>
			<a href="#" target="_blank" style="float: right;">Know More</a>
		</p>
</div>



<div style="width: 1024px; border-bottom: 1px solid #999999; float: left; margin: 15px; padding: 0 0 10px 0;">
	<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/services/Android-Dev.jpg" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Android Development</h1>
				iFrame is 3D photo frame creator, by which you can transform you photo frame in 3D effect in both vertical and horizontal direction. Also, you can rotate and zoom the frame. First time 3D photo framing experience on your device.
			</span>
			<a href="#" target="_blank" style="float: right;">Know More</a>
		</p>
</div>


<div style="width: 1024px; border-bottom: 1px solid #999999; float: left; margin: 15px; padding: 0 0 10px 0;">
	<p>
			<span style="color:#F49300;display:inline;float:left;font-size:5.2em;line-height:.8em;text-transform:uppercase;font-weight:400;padding-left:4px;margin:.05em .14em 0 -3px;">
				<img src="/assets/services/Web-Dev.jpg" style='-webkit-border-radius:9px;-moz-border-radius:9px;box-shadow: 1px 1px 20px #888888;' width="100" height="100" />
			</span>
			<span style="margin:0 0 0 0;">
				<h1 style="font-size:24px; font-weight:lighter;font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;">Web Development</h1>
				iFrame is 3D photo frame creator, by which you can transform you photo frame in 3D effect in both vertical and horizontal direction. Also, you can rotate and zoom the frame. First time 3D photo framing experience on your device.
			</span>
			<a href="#" target="_blank" style="float: right;">Know More</a>
		</p>
</div>